@font-face {
	font-family: 'TT_Travels';
	src: url('../fonts/../fonts/TTTravels-Regular.eot');
	src: url('../fonts/TTTravels-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/TTTravels-Regular.woff2') format('woff2'),
			url('../fonts/TTTravels-Regular.woff') format('woff'),
			url('../fonts/TTTravels-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Schnyder';
	src: url('../fonts/SchnyderXCondXLDemi.eot');
	src: url('../fonts/SchnyderXCondXLDemi.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SchnyderXCondXLDemi.woff2') format('woff2'),
			url('../fonts/SchnyderXCondXLDemi.woff') format('woff'),
			url('../fonts/SchnyderXCondXLDemi.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}