/* reset */
$min-width: 320px;
$max-width: 1440px;
$base-bg: #FFF;
$custom-bg: #fff;
// $base-gap: 17px;
// $custom-gap: 26px;
$base-font-size: 13px;
$base-line-height: 18px;
$base-font-weight: 300;
$base-font-family: Arial, sans-serif;
$custom-font-family: 'TT_Travels', sans-serif;
$link-color: #1A183D;
$default-transition: all 0.15s;

/* main variables */

$text-color: #000000;
$title-color: #580300;
$title-font-family: 'Schnyder';

$font-size-h1: 48px;
$line-height-h1: 54px;
$font-weight-h1: bold;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;